{
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "targets": {
        // browserlist combined by OR clause
        // https://github.com/ai/browserslist
        "browsers": ["last 1 Chrome version"],
      },
      "useBuiltIns": "usage",
      "debug": false,
    }],
    "@babel/react",
    "@lingui/babel-preset-react",
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    // "transform-semantic-ui-react-imports", // requires fix for babel7
  ]
}
